<select (change)="cambioComunidad($event.target.value)" id="Comunidad">
    <option disabled selected>Elige una comunidad:</option>
    <!--<option *ngFor='let comunidades of getComunidades(); let indice = index'>{{Comunidades[indice][0]}}</option>-->
    <option *ngFor="let comunidad of comunidades" [ngValue]='comunidad'>{{comunidad}}</option>
</select>
<select id="Provincia">
    <option disabled selected>Elige una provincia:</option>
    <option *ngFor="let provincia of provincias" [ngValue]='provincia'>{{provincia}}</option>
</select>